:root {
  --primary: #0F3460;
  --secondary: #ff5722;
  --success: #28a745;
  --info: #00bcd4;
  --warning: #f88000;
  --danger: #dc3545;
  --light: #f1f1f1;
  --dark: #212121;
  --yellow: #fdfd00;
}

.bg-primary{
    background-color: var(--primary) !important;
}
.bg-white{
    background-color: #fff !important;
}
.text-white{
    color: white !important;
}

.bg-success{
    background-color: var(--success);
}
.bg-danger{
    background-color: var(--danger);
}

.bg-error{
    background-color: var(--warning);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-orange{
    background-color: var(--warning);
}